/* item-detail.component.css */
.item-detail {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.item-detail h3 {
    color: #333;
    margin-bottom: 10px;
}


.item-detail p {
    color: #555;
    line-height: 1.4;
}