<div class="background">
  <div class="secbg"></div>
  <h2 class="name" style="text-align: center;"><b>SathishKumar R</b> </h2>
  <div class="contact">
    <p style="text-align: center;"><b><a href="tel:+916369255593"> 6369255593</a></b> | <b> <a
          href="mailto: rsathishkumar1963@gmail.com">rsathishkumar1963@gmail.com</a></b>
      | <b><a href="https://github.com/SathishKumar5115" target="_blank">
          https://github.com/SathishKumar5115 </a></b> | <b>SNUC</b></p>
  </div>
</div>
<app-item-list></app-item-list>
<router-outlet></router-outlet>